.form-label-left{
    width:150px !important;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px !important;
}
body, html{
    margin:0;
    padding:0;
    background:false;
}

.form-all{
    margin:0px auto;
    padding-top:0px;
    width:690px;
    color:#555 !important;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    font-size:14px;
}