
*.sqlite3
bin/
ZOOM/.cache

.idea/


ZOOM/ZOOM/local_settings.py
ZOOM/ZOOM/local_settings.pyc
ZOOM/media/
ZOOM/static_served/*
ZOOM/scripts/formatters/CRS/*
ZOOM/scripts/fromatters/World_Bank/*
mapper.log
sql_backups/

*.pyc
*.swp


parse.log

.DS_Store

ZOOM/supervisord.log
ZOOM/supervisord.pid


.vagrant
.vscode
