
*.sqlite3
bin/
ZOOM/.cache

.idea/


ZOOM/ZOOM/local_settings.py
ZOOM/ZOOM/local_settings.pyc

ZOOM/static_served/*

*.pyc
*.swp


parse.log

.DS_Store

ZOOM/supervisord.log
ZOOM/supervisord.pid


.vagrant
