<!doctype html>
<html lang="en">
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <table>
  <tr>
  <th>id</th><th>file_source</th><th>data created</th><th>indicator_type</th><th>indicator</th><th>unit</th><th>subgroup</th><th>country</th><th>country_id</th><th>date</th><th>source</th><th>value</th><th>footnote</th>
  </tr>
  {% for line in data_check %}
    <tr>
    <td>{{line.id}}</td>
    <td>{{line.file_source}}</td>
    <td>{{line.date_created}}</td>
    <td>{{line.indicator_type}}</td>
    <td>{{line.indicator}}</td>
    <td>{{line.unit}}</td>
    <td>{{line.subgroup}}</td>
    <td>{{line.country}}</td>
    <td>{{line.country_id}}</td>
    <td>{{line.date}}</td>
    <td>{{line.source}}</td>
    <td>{{line.value}}</td>
    <td>{{line.footnote}}</td>  
    </tr>
  {% endfor %}
  </table>
</body>
</html>