{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.css"/>

    </head>


      <div class="container">
      <h1>File Errors Management</h1>


      <form id="table_form" class="col s10 offset-2">{% csrf_token %}
      <div id="table" class="table-editable">
        <span class="table-add glyphicon glyphicon-plus"></span>
        <table id="myTab" class="table striped">
          <thead>
            <tr>
            <th>Line No.</th>
            {% for data in column_headings %}
                <th>{{data}}</th>
            {% endfor %}
                <th>Delete</th>
            </tr>
          </thead>
            
          <tbody>
            {% for line_no, data_line in df_data %}
            <tr>
                <td >{{line_no}}</td>
                {% for data, error_id in data_line %}
                    <td contenteditable="true" id="{{error_id}}">{{data}}</td>
                {% endfor %}
                <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
          <div class="mdl-card__actions mdl-card--border">
            <input type="submit" name="" class="waves-effect waves-light btn" value="Validate">
          </div>
      </div>
      </form>
      </div>


      <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>


      <script>
        var send_data = {};

        var extract_data = function(){
          var myObj = {};
          var myRows = [];
          var $headers = $("th");
          var $rows = $("tbody tr").each(function(index) {
            $cells = $(this).find("td");
            myRows[index] = {};
            $cells.each(function(cellIndex) {
              myRows[index][$($headers[cellIndex]).html()] = $(this).html();
            });    
          });
          myObj.myrows = myRows;
          return myObj
        };

        // var update_data = function(){
        //   var myRows = [];
        //   var $headers = $("th");
        //   var $rows = $("tbody tr").each(function(index) {
        //     $cells = $(this).find("td");
        //     myRows[index] = {};
        //     $cells.each(function(cellIndex) {
        //       myRows[index][$($headers[cellIndex]).html()] = $(this).html();
        //     });    
        //   });
        //   new_data.myrows = myRows;
        //   update_rows(send_data, new_data);

        //   return send_data
        // };


        $(document).ready(function() {
            {% for id, message in found_error_ids %}
            $('#{{id}}').css('background','red')
            {% endfor %}

            send_data = extract_data();
            console.log(send_data);

            $('#myTab')
            .on('stateLoaded.dt',   function () { eventFired( 'state' ); } )
            .DataTable({
              "searching":   false,
              "ordering": false
            });

            var table = $('#myTab').DataTable();
 
            table.on( 'page', function () {
                alert( 'Table redrawn' );
                var new_data = {};
                new_data = extract_data();
                console.log(new_data);
            } );

            table.on( 'length', function () {
                alert( 'Table redrawn' );
                var new_data = {};
                new_data = extract_data();
                console.log(new_data);
            } );

        } );

      </script>

      
      <script type="text/javascript">
        $(document).on('submit', '#table_form', function(e){
          e.preventDefault();

          // var myRows = [];
          // var $headers = $("th");
          // var $rows = $("tbody tr").each(function(index) {
          //   $cells = $(this).find("td");
          //   myRows[index] = {};
          //   $cells.each(function(cellIndex) {
          //     myRows[index][$($headers[cellIndex]).html()] = $(this).html();
          //   });    
          // });

          // var myObj = {};
          // myObj.myrows = myRows;

          var data = JSON.stringify(send_data);

          $.ajax({
            type:'POST',
            url:'/validate/',
            data:{
              data : data,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(){
              console.log(window.location.href);
              window.location.assign("http://dev-zoom.zz-clients.net/validate/");
              // alert(window.location.href);
                // alert("OK");
            },
            // error:function(){
            //   alert("NOK");
            // },
          });
        });
      </script>

    </body>
  </html>