<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static "jquery-3.1.1.js" %}"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="{% static "makeTable.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.css"/>

    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.colVis.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.js"></script>

    <title>Test/Example</title>
</head>
<style> /* set the CSS */

body {
    font: 12px Arial;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.dot {
    stroke: black;
    stroke-width: 0.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightgray;
    border: 1px;
    font-weight: bold;
    border-radius: 8px;
    pointer-events: none;
}

.y.axis .tick


</style>
    <br>
    <h1 class="col-sm-offset-1 col-sm-8">ZOOM</h1>
        <p class="col-sm-offset-1 col-sm-8">Example showing scatterplot tool that allows end users to select the variables to graph and includes tool
        tips and simple filter function.</p>
        <br><p>
        <ul class="col-sm-offset-2 col-sm-7">
            <li>Select a variable to be displayed on the X (horizontal) axis</li>
            <li>Select a variable to be displayed on the Y (vertical) axis</li>
</ul>
</p>
<br>
    <script type="text/javascript" src="{% static "scatterFilter.js" %}"></script>
    </body>
</html>