{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
      table, th, td {
         border: 1px solid #ddd;
      }
      </style>
    </head>

    <body>

      <div class="container">
      <h1>ZOOM</h1>

      <div>
      <!-- List of uploaded documents -->
      
          <!-- Display current templates -->
          <!-- <form action="/validate/report/" method="post" enctype="multipart/form-data"> -->
          <form action="/validate/upload_file/" method="post" id="file-upload-form" enctype="multipart/form-data">{% csrf_token %}
              {% if documents %}
                  <!--<h3>Choose Template</h3>
                  <ul>
                  {% for document in documents %}
                       <input type="radio" name="file_template" value="{{document.file}}">{{ document.file }}<br>
                  {% endfor %}
                  </ul>-->                

                  <h3>CSV's already uploaded</h3><!-- remove csv that template was choosen on  and only show this when a template has been choosen -->
                  <div id="table">
                    <span class="table-add glyphicon glyphicon-plus"></span>
                    <table class="table striped">
                      
                      <thead>
                        <tr>
                        <th>File Name</th>
                        <th>Upload date</th>
                        </tr>
                      </thead>
                        
                      <tbody>
                        {% for document in documents %}
                        <tr>
                                <td>{{document.filename}}</td>
                                <td>{{document.created}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                  </div>
              {% else %}
                  <p>No documents stored</p>
              {% endif %}
              
              <p>{{ form.file }}</p>
              <!-- <p><input type="submit" name="upload" value="Upload" /></p> -->
              <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
              {% if documents %}
                  <!--<p><input type="submit" name="validate" value="validate" /></p>-->
              {% endif %}
          </form>
      </div>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

      <script type="text/javascript">
        function upload(event) {
          event.preventDefault();
          var data = new FormData($('form').get(0));

          $.ajax({
              url: $(this).attr('action'),
              type: $(this).attr('method'),
              data: data,
              cache: false,
              processData: false,
              contentType: false,
              success: function(data) {
                  // alert('success');
                  console.log(data);
                  var result = data.split("|");
                  if (result[0] === "1") {
                    if (confirm("The file name already exists! Do you want to replace it?") == true) {
                          window.location.assign("/validate/update_file/"+ result[1] + "/" + result[2]);
                      } else {
                          window.location.assign("/validate/");
                      }
                  }
                  else {
                    window.location.assign("/validate/report_update/"+result[1]);
                  }
              }
          });
          return false;
          }

        $(function() {
            $('form').submit(upload);
        });
      </script>
    </body>
  </html>
