{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <div class="container">
      <h1>ZOOM</h1>

          <form action="/manual_map/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <p>Using {{template_file}}, found {{ mapped }} column </p>

              <div id="table">
                <span class="table-add glyphicon glyphicon-plus"></span>
                <table class="table striped">
                  
                  <thead>
                    <tr>
                    <th>Heading</th>
                    <th>Mapping</th>
                    <th>Datatypes</th>
                    <th>Missing Results</th>
                    </tr>
                  </thead>
                    
                  <tbody>
                  {% for heading, dtypes, val_results in found_list %}
                      <tr>
                        <td>{{ heading }}</td>
                        <td> mapped by columns</td>
                        <td>{{dtypes}}</td>
                        <td>{{val_results}}</td>
                      </tr>
                  {% endfor %}

                  </tbody>

                </table>
              </div>

              <p>{{files}} missing mapping for {{ no_mapped }} columns</p>

              <div id="table">
                <span class="table-add glyphicon glyphicon-plus"></span>
                <table class="table striped">
                  
                  <thead>
                    <tr>
                    <th>File Columns</th>
                    </tr>
                  </thead>
                    
                  <tbody>
                  {% for heading in missing_list %}
                      <tr><td>{{ heading }}</td></tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>


              {% if missing_list %}
                  <!--<p><input type="submit" value="Manual Mapping" /></p>-->
                  <!-- if missing data and unidentified types -->
                  <a href="/validate/" class="button" style= "-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;">Reupload</a>
                  <a href="/error_correct/" class="button" style= "-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;">Correct Error</a>
                  <a href="/manual_map/" class="button" style= "-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;">Manual Mapping</a>
              {% endif %}
          </form> 

    </body>
  </html>
