{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <div class="container">
      <h1>ZOOM</h1>

      <div>
      <!-- List of uploaded documents -->
      
          <!-- Display current templates -->
          <form action="/validate/report/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if documents %}
                  <!--<h3>Choose Template</h3>
                  <ul>
                  {% for document in documents %}
                       <input type="radio" name="file_template" value="{{document.file}}">{{ document.file }}<br>
                  {% endfor %}
                  </ul>-->                

                  <h3>CSV's already uploaded</h3><!-- remove csv that template was choosen on  and only show this when a template has been choosen -->
                  <div id="table">
                    <span class="table-add glyphicon glyphicon-plus"></span>
                    <table class="table striped">
                      
                      <thead>
                        <tr>
                        <th>File Name</th>
                        <th>Upload date</th>
                        </tr>
                      </thead>
                        
                      <tbody>
                        {% for document in documents %}
                        <tr>
                                <td>{{document.filename}}</td>
                                <td>{{document.created}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                  </div>
              {% else %}
                  <p>No documents stored</p>
              {% endif %}
              
              <p>{{ form.file }}</p>
              <p><input type="submit" name="upload" value="Upload" /></p>
              {% if documents %}
                  <!--<p><input type="submit" name="validate" value="validate" /></p>-->
              {% endif %}
          </form>
      </div>
    </body>
  </html>
